<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>{{ site.title }}</h1>
      <p class="lead">
        I travel a lot and build things like <a href="https://www.solarlist.com" target="_blank">SolarList</a> and <a href="https://www.storemapper.co" target="_blank">StoreMapper</a>.
      </p>
      <img width="150" src="/assets/tyler_head.png" alt="Tyler Tringas">
    </div>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}">
        <a href="/">Home</a>
      </li>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
              <a href="{{ node.url }}">{{ node.title }}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}

      <li class="sidebar-nav-item"><a href="https://twitter.com/tylertringas">@tylertringas</a></li>
    </ul>

    <p>uncopyrighted</p>
  </div>
</div>
